// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline;
    }
  }
}